body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #191919;
}

p, button, h2, label {
  color: #fff;
}

.container {
  position: relative;
}

.wheel-container {
  display: flex;
  flex-direction: column; /* Les éléments sont empilés verticalement */
  justify-content: center;
  align-items: center; /* Centrage horizontal */
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Centrage de la roue dans la page */
}

canvas {
  display: block;
  margin: auto;
}

button {
  margin-top: 20px; /* Espace entre la roue et le bouton */
}


row {
  max-width: 370px;
}

.wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure the container takes up all available space */
  max-width: 400px; /* Limit the size of the wheel */
  margin: 0 auto; /* Center it horizontally */
}

#pointer {
  position: absolute;
  top: 50%;
  right: -10px; /* Juste à droite de la roue */
  transform: translateY(-50%) rotate(180deg); /* Rotation de 180° */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px; /* Triangle vers la gauche */
  border-color: transparent transparent transparent #fff;
  z-index: 10;
}


#spin-btn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
